/* Swiper */
.swiper-box {
	position: relative;
}

.swiper-scrollbar {
	background-color: transparent;
}

.swiper-container {
	/* width: 100%;
	margin: 0;
	overflow: hidden;
	position: relative; */
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.text-box {
	position: relative;
	z-index: 10;
	padding: 80px;
	pointer-events: none;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;
	width: 15px;
	height: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 15px;
}

.swiper-pagination-bullet-active {
	background: #fff;
}


@media (max-width: 520px) {

	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		width: 10px;
		height: 10px;
	}
}

/* end swiper */
/* tabs */

.tabs-nav__btn--active {
	color: #E1670E;
}

.tabs-content {}

.tabs-item {
	display: none;
}

.tabs-item--active {
	display: flex;
}

/* end tabs */
/* accordion */
.question__item {
	flex-direction: column;
	align-items: flex-start;
}

.question__inner {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}


.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	display: none;
}

.ui-icon {
	display: none;
}

.ui-accordion .ui-accordion-header {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: none;
	background: transparent;
}

.ui-widget-content {
	border: none;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.space-wrap {
	display: inline-block;
	width: 100%;
	height: 20px;
}

.question__subtitle {
	font-family: 'Montserrat', sans-serif;
	color: var(--textColor);
}